h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

body {
	font-size: 16px;
	background-color: #373737;
	color: #C0B283;
	margin: 0;
	padding: 0;
}

nav {
  position: fixed;
  top: -40vh;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background-color: #DCD0C0;
  border-bottom: 2px solid white;
  border-bottom: 4px solid #C0B283;
  transition: top 0.3s ease-in-out;
	font-size: 21px;
  z-index: 99;
}

.toggle-nav {
  top: 0vh;
}

/*Fix scrolling up pass stop and seeing nav*/
#nav-cover {
  position: absolute;
  bottom: 100vh;
  height: 40vh;
  width: 100%;
  background-color: #373737;
  z-index: 100;
}


.menu-item-box {
  margin: 10px 0px;
  padding-left: 10px;
}


#burger-menu {
	position: fixed;
  top: 15px;
  right: 15px;
	height: 33px;
	width: 33px;
	background-color:#DCD0C0; 
  background-color: #C0B283;
  border: 1px solid black;    
  border-radius: 5px;
  z-index: 100;
}

.burger-line {
	position: absolute;
  top: 15px;
  left: 6px;
	width: 21px;
	height: 3px;
  background-color: black;
}

.burger-line:first-child {
  top: 6px;
}

.burger-line:last-child {
  top: 24px;
}


header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  
  border-bottom: 2px solid #C0B283;
  
  background-image: url(../images/home-guitar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  position: relative;
  font-size:40px;
  padding: 10px;
  margin: 0 10px;
  z-index: 20;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid white;
  border-radius: 10px;
  font-family: Brush Script MT, cursive;
}
a {
  text-decoration: none;
  color: #C0B283;
}


nav a:active{
	background-color:#373737;
	color:#C0B283;
}

nav a:hover {
	background-color:#F4F4F4;
}

nav a:link, nav a:visited {
	color:#373737;
}


#welcome-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

#welcome-info p {
  margin: 10px 0;
}

.link-button {
  position: relative;
  top: 0px;
  padding: 10px 0px;
  width: 98%;
  border: 2px solid rgb(200,200,200);
  border-radius: 10px;
  box-shadow: 0px 4px 4px white;
  transition: all 0.1s linear;
}

.link-button:active {
  top: 4px;
  box-shadow: 0px 0px 0px white;
}

.guitar img, .legend img {
  height: 200px;
}

footer {
  padding: 15px 0;
  padding-left: 10px;
  border-top: 2px solid #C0B283;
  background-color: black;
  
  
  /*
	background-color:#DCD0C0;
	color:#373737;
  */
}


