/* General margin for textual elements. */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* General style for body across site. */
body {
	font-size: 16px;
	background-color: #373737;
	color: #C0B283;
	margin: 0px;
	padding: 0px;
}

/* General header styles for all pages. Background image styles set. */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  height: 80vh;
  text-align: center;
  
  border-bottom: 2px solid #C0B283;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Background image for home page. */
.cover-img-1 {
	background-image: url(../images/guitars/home-guitar.png);
}

/* Background image for guitar page. */
.cover-img-2 {
	background-image: url(../images/guitars/humming-bird.jpg);
}

/* Background image for legends page. */
.cover-img-3 {
	background-image: url(../images/guitars/sg.jpg);
}

/* Background image for about page. */
.cover-img-4 {
	background-image: url(../images/guitars/strat.jpg);
}

/* Style for h1 tags on each page. z-index used to bring header forward against background image. Background styled to make it stand out against background image. */
h1 {
  position: relative;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  z-index: 20;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid white;
  border-radius: 10px;
  font-family: Brush Script MT, cursive;
}


/* --- Homepage styling --- */

/* Style for all non-header information homepage. Flexbox column used to style contents vertically. Box sizing maintains padding and margins for all elements as screen size increases, somethings brought up in user testing. */
#welcome-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  text-align: center;
}

/* All paragraphs given margin of 10 top and bottom for even spacing. */
#welcome-info p {
  margin: 10px 0;
}

/* horizontal rules initially hidden on mobile devices. */
#welcome-info hr {
  display: none;
}

/* Styling for the link tags. */
a {
  text-decoration: none;
  color: #C0B283;
}


/* Horizontal rule width of 70% given not to take up whole width but enough to clearly distinguish between different texts (list and paragraph). */
hr {
	width: 70%;
	border-color: #C0B283;
}

/* Styling for buttons. Border and radius included to give appealing aesthetic. White shadow used to make content stand out. */
.link-button {
  position: relative;
  top: 0px;
	margin: 10px 0px;
  padding: 10px 0px;
	width: 50%;
  border: 2px solid rgb(200,200,200);
  border-radius: 10px;
  box-shadow: 0px 4px 4px white;
  transition: all 0.1s linear;
}

/* Button moved down by 4px when pushed to give impression of being pushed in. */
.link-button:active {
  top: 4px;
  box-shadow: 0px 0px 0px white;
}


/* Accordion and about page button styles below. */

/* Container spaced evenly with space before, between and after contents. */
.cta-container {
	display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Styling for buttons. Colours remain consistent with those on rest of site. */
.cta-button {
	display: block;
	width: 50%;
	margin: 10px;
	font-size: 18px;
	color: #C0B283;
	background-color: #373737;
	border-color: #C0B283;
  box-shadow: 0px 4px 4px #C0B283;
	outline-style: none;
}

/*about styles*/

/* Display styles for tabs. Allows specific contents to be displayed when tabs are clicked. Tilde denotes sibling element, specific content belongs with specific tab. */
#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4, 
#tab-5:checked ~ #content-5 {
  display: block;
}

#content-5 {
  border-top: 2px solid #C0B283;
}

/* Background colour of radio button changes when it is clicked. Allows user to see active tab. */
input[type="radio"]:checked + label{ 
  background-color: #DCD0C0; 
}

/* Removes check button from view, giving clean look to site. */
.tab-input {
  display: none;
}

/* Styling for the tabs viewable to the user. Padding provided to maintain proximity while also distinguishing between tabs. Wdith of 100 allows labels to fill screen width, maintaing consitsency and a clean experience for users. */
.tab-label {
  display: block;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

/* Content for each tab initially hidden unless clicked by users. Height specified to fit nicely with background images. Transition given to appear to grow out of nowehere as tabs are clicked. Border distinguishes against tabs. */
.tab-container {
  display: none;
  height: 60vh;
  border-top: 2px solid #C0B283;
  transition: height 0.5s ease-in-out;
}

/* Specifies height at which news results are shown. This height keeps the news window consistenly sized like the other tabs. User can scroll through the results rather than scroll on the page itself.*/
.toggle-results {
  height: 80vh;
}

/* Flexbox used to display paragraph at the base of the window. Height fills full window like accordion images fill width. Leaves no visible gaps for users, aiding aesthetics. Animation for appearance added, breaking up content and providing a visual change for users. */
.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  animation: appear 0.5s ease;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Specified start an end sizes for content to appear when tabs are clicked. Grows from near nothing to full view. */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Set background image for tab 1 when clicked */
#tab-1:checked ~ #content-1 .tab-content {
  background-image: url(../images/about/whysite.jpg);
}

/* Set background image for tab 2 when clicked */
#tab-2:checked ~ #content-2 .tab-content {
  background-image: url(../images/about/how.jpg);
}

/* Set background image for tab 3 when clicked */
#tab-3:checked ~ #content-3 .tab-content {
  background-image: url(../images/about/whyguitar.jpg);
}

/* Set background image for tab 4 when clicked */
#tab-4:checked ~ #content-4 .tab-content {
  background-image: url(../images/about/future.jpg);
}

/* Style for paragrah within each tab on about page. Style maintains consistency with the titles used on other pages, with transluscent background colour to stand out against the background image. */
.tab-content p {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #C0B283;
  border-radius: 5px;
}

/*News tab styles*/

/* News tab given flexbox layout so news results appear stacked underneath buttons and search box for mobile and tablet devices. */
.news-content {
  flex-direction: column;
}

/* Flexbox used to display items within the search area of the news tab as vertically stacked. With search box stacked on top of the two buttons. Centered for best view and given margin for even spacing to maintain a nice degree of proximity. */
.search-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: 10px 0px;
}

/* Adds slight spacing above and below search area. Makes content more readable. */
.news-content label {
  margin: 5px 0px;
}

/* Small padding makes content easier to read within the search box input. */
.news-content input {
  padding: 2px;
}

/* Width for buttons in news tab. */
.news-content button {
  width: 100%;
}

/* Styling for search results ul. Fills entire space to give full view to user. Overflow allows elements to fall correctly into place, not overlapping over elements. */
#search-results {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
}

/* Search results list displayed as a flex column to enable vertical appearance for mobile views. */
#search-results li {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #C0B283;
}

/* White colour given to link text to distinguish it against other elements and grab user attention. */
#search-results li a {
  color: white;
}

/* Styling for non-link elements of the search results. Even spacing given for consistency. */
#search-results li span {
  color: #C0B283;
  padding: 5px 0px;
}

/*footer styles, black chosen to distinguish against rest of page. */
footer {
  padding: 15px 0;
  padding-left: 10px;
  border-top: 2px solid #C0B283;
  background-color: black;
}


/*tablet styles*/
@media screen and (min-width: 600px) {
	
  
	/*index styles*/
	
  /* Welcome text changed to take up half of page width. Spreading content out from mobile view.*/
	#welcome-info {
		position: relative;
		width: 50%;
		border-left: 1px solid #C0B283;
	}
	
  /* Positioned to fit perfectly in place with no blank spaces. Left attribute ensures links are right of page, perfectly divided against the welcome info text. Height of 50% ensures maximum space is divided between the two links. Box shadow overridden to be hidden as it is not necessary here.*/
	#welcome-info a {
		position: absolute;
		top: 0px;
		left: 100%;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 100%;
		height: 50%;
		margin: 0px;
		box-sizing: border-box;
		
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
		
		border-radius: 0px;
		border-width: 0px 1px;
		border-color: #C0B283;
		box-shadow: 0px 0px 0px white;
	}	
	
  /* Link changed from button ike appearance to resemble page title format, with background to stand out against content behind it. */
	#welcome-info a h3 {
		background-color: rgba(0,0,0,0.7);
		padding: 10px 20px;
		border-radius: 4px;
	}
	
  /* Image added to background of guitar link. */
	#welcome-info a:nth-child(3) {
		background-image: url(../images/guitars/les-paul.jpg);
	}	
	
  /* Styling and positioning for legends link on home page. Pushed down to appear symmetrical and evenly spaced to guitar link. Backgroun image set. */
	#welcome-info a:nth-child(6) {
		top: 50%;
		border-top: 1px solid #C0B283;
		background-image: url(../images/legends/evh.jpg);
	}	
	
  /* Subtle change requested by users. Image increases in background and appears to zoom when link is hovered over. */
	#welcome-info a:hover {
		background-size: 110%;
	}
	
  /* No floating elements to left or right of the footer.*/
	footer {
		clear: both;
	}
  
}

/* Extra screen size added due to user testing. Users did not like accordion behaviour and button behaviour at a certain width. */
@media screen and (min-width: 750px) { 

  /* Button sizes remain fixed after 750px. */
   .cta-button {
    width: 320px;
  }

}


/*laptop size styles*/
@media screen and (min-width: 1000px) {  
	
  /* header height adjusted to look better for larger screens. */
  header {
    height: 60vh;
  }
	
	/*index styles*/
  
  /* Styling of welcome info section changed. Height increased and padding used to create symmetrical and evenly spaced appearance throughout. */
	#welcome-info {
		height: 60vh;
		padding: 50px 5%;
	}

  /* Horizontal rule made visible for non-mobile and tablet devices. Larger screen with tighter content needs to be visibly spearated. */
	#welcome-info hr {
		display: block;
	}

  /* Link tags on home page size increased and font changed for larger screen to attract attention. */
	#welcome-info a {
    font-family: Brush Script MT, cursive;
		font-size: 28px;
	}
  
}


/* Additional width specified for clean transitions of about page tab bar. At 1000px min-width users noticed inconsistencies at certain widths, ruining the clean aesthetic. */
@media screen and (min-width: 1100px) {  
	/*about styles*/
  .tab-label {
    float: left;
    width: 20%;
		border-right: 1px solid #C0B283;
		box-sizing: border-box;
  }
  
  /* No border on right of news tab to allow for consistent and clean styling.*/
	#last-label {
		border-right-width: 0px;
  }
  
  /* No elements float left or right of container. */
  .tab-container {
    clear: both;
  }
	
	.tab-content p {
		font-size:1.2em;
	}
  
  /* Specifies height at which results are shown. This height keeps the news window consistenly sized like the other tabs. User can scroll through the results rather than scroll on the page itself. Height shorter than mobile as content is more spread out. */
  .toggle-results {
    height: 60vh;
  }
  
  /* News content flex changed to row from column. Enables content top be spread out for larger device screens. Makes site easier for users. */
  .news-content {
    flex-direction: row;
  }
  
  /* Alignment and width of user interaction elements (search box and buttons) */
  .search-controls {
    align-items: center;
    width: 30%;
  }
  
  /* Container style specifies appearance of inner buttons. in news section. */
  .search-container {
    flex-direction: column;
    align-items: center;
  }
  
  /* Width for about page buttons realting to news tab. */
  .search-container button {
    width: 75%;
  }
  
  /* Width of search results specified for larger screen as search button and input box . */
  #search-results { 
    width: 70%;  
  }
  
  /* Styling of list items in search results list. */
  #search-results li {
    flex-direction: row;
    align-items: center;
		font-size:1.2em;
  }
  
  /* Top border removed for first list item, giving clean look against the tab bar. */
  #search-results li:first-child {
    border-top-width: 0px;
  }

  /* Bottom border removed for last list item, giving clean look against the footer, subconciously shows user no content follows. */  
  #search-results li:last-child {
    border-bottom-width: 0px;
  }
  
  /* Specify width for first list child (the subject genre) */
  #search-results li span:first-child {
    width: 30%;
  }
  
  /* Width specified for the links within the search results.*/
  #search-results li a{
    width: 50%;
  }
  
  /* Styling for last child of list items (the publication date). Text aligned right with padding right to appear nicely against the right handside of the page.*/
  #search-results li span:last-child {
    width: 20%;
    padding-right: 10px;
    text-align: right;
  }
}