nav {
	position: fixed;
	top: -50vh;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #DCD0C0;
	border-bottom: 4px solid #C0B283;
	transition: top 0.3s ease-in-out;
	font-size: 21px;
	z-index: 99;
	overflow: hidden;
}

.toggle-nav {
	top: 0vh;
}

/*Fix scrolling up pass stop and seeing nav*/

#nav-cover {
	position: absolute;
	bottom: 100vh;
	height: 50vh;
	width: 100%;
	background-color: #373737;
	z-index: 100;
}

.menu-item-box h3 {
	text-align: center;
	padding: 20px;
}

.menu-item-text.active {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

#burger-menu {
	position: fixed;
	top: 15px;
	right: 15px;
	height: 33px;
	width: 33px;
	background-color: #C0B283;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 100;
}

.burger-line {
	position: absolute;
	top: 15px;
	left: 6px;
	width: 21px;
	height: 3px;
	background-color: black;
	transition: all 0.2s linear;
}

.burger-line:first-child {
	top: 6px;
}

.burger-line:last-child {
	top: 24px;
}

#burger-menu.active .burger-line:first-child {
	top: 15px;
	transform: rotate(45deg);
}

#burger-menu.active .burger-line:nth-child(2) {
	transform: rotateX(90deg);
}

#burger-menu.active .burger-line:last-child {
	top: 15px;
	transform: rotate(-45deg);
}

nav a:hover {
	background-color: #F4F4F4;
}

nav a:link,
nav a:visited {
	color: #373737;
}

@media screen and (min-width: 1000px) {
	#nav-cover {
		display: none;
	}

	#burger-menu {
		display: none;
	}

	nav {
		position: relative;
		top: 0px;
		left: 0px;
		flex-direction: row;
		overflow: hidden;
		font-size: 18px;
	}

	.menu-item-box {
		position: relative;
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;

		padding: 0px;

		background-position: center;
		background-size: 90%;
		background-repeat: no-repeat;
		background-color: #DCD0C0;
		background-color: transparent;

		transform-origin: center;
		transform: rotate(-45deg);
		transition: all 0.5s ease;
	}

	.menu-item-box:nth-child(1) {
		background-image: url(../images/les_paul.png);
	}

	.menu-item-box:nth-child(2) {
		background-image: url(../images/strat.png); //background-color: blueviolet;
	}

	.menu-item-box:nth-child(3) {
		background-image: url(../images/es335.png); //background-color: aqua;
	}

	.menu-item-box:nth-child(4) {
		background-image: url(../images/jag.png);
	}

	.menu-item-text {
		position: absolute;
		top: calc(50% - 15px);
		left: -50%;
		width: 200%;
		height: 30px;
		text-align: center;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all 0.5s ease;
	}

	a.menu-item-box:hover {
		background-size: 100%;
		background-color: transparent;
	}

	.menu-item-box {
		padding: 10px;
	}

	.menu-item-box h3 {
		padding: 0px;
	}

	a.menu-item-box:hover .menu-item-text,
	.menu-item-text.active {
		color: black;
		background-color: rgba(255, 255, 255, 0.5);
	}
}

/*
@media screen and (min-width: 900px) {
  nav a:hover {
    background-color:#F4F4F4;
    background-size: 110%;
  }
  
  .menu-item-box {
    display: flex;
    align-items: center;
    height: 25%;
    padding: 10px 0px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background 0.2s ease-in-out;
  }

  .menu-item-box:nth-child(1) {
    background-image: url(../images/les_paul.png);
  }

  .menu-item-box:nth-child(2) {
    background-image: url(../images/strat.png);
  }

  .menu-item-box:nth-child(3) {
    background-image: url(../images/es335.png);
  }

  .menu-item-box:nth-child(4) {
    background-image: url(../images/jag.png);
  }

  .menu-item-box h3 {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5)
  }
}
/*
